body {
    font-family: sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  label {
    margin-right: 10px;
  }
  
  select {
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  h2, h3 {
    margin-top: 20px;
  }
  
  ul, table {
    margin-top: 10px;
  }  